__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.venv
.coverage
htmlcov
.env
.env.*
.git
.gitignore
.vscode
.idea
*.md
tests/
flask_session/
Dockerfile
docker-compose.yml
